*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App{
  background-color: #0b121e;
  padding: 30px;
  box-shadow: 10px 10px 20px rgb(75, 75, 174);
  max-width: 1500px;
  margin: 100px auto;
  border-radius: 15px;
  display: flex;
  gap: 30px;
}
.Container{
  width: 100%;
  display: flex;
  gap: 30px;
}
.Block-left{
  width: 100%;
}

.App-wrap{
  display: flex;
  flex-direction: column;
}

